body::before {
	content: "EXPERIMENTAL FOR TESTING";
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-30deg);
	font-size: 4rem;
	color: rgba(0, 0, 0, 0.1); 
	font-weight: bold;
	white-space: nowrap;
	pointer-events: none; 
	z-index: 9999;
}


#segment-footer > .container {
	background-color: #ad1f2f;
  }
  .navbar-inverse {
	background-color: #ad1f2f;
  }
  .navbar-inverse .navbar-nav > li > a:hover {
	background-color: #790713;
  }
  #family-nav {
	line-height: 50px;
	float: right;
	margin-top: 4px;
	color: #808080;
  }
  #family-logo {
	float: right;
	margin-left: 6px;
  }
  
  pre.json             {
	  border: 1px solid #dcdcdc;
	   font-size: 11px;
		  background: #EFFFEF ; 
	  padding: 5px;
	  width: 100%;
  }
  
  pre.rdf             {
	  border: 1px solid #dcdcdc;
	   font-size: 11px;
		  background: #fdedff ; 
	  padding: 5px;
	  width: 100%;
	  overflow: auto
  }
  
  pre.fhirpath             {
	  border: 1px solid #dcdcdc;
	   font-size: 11px;
	background: #ffeafb ; 
	  padding: 5px;
	  width: 100%;
  }
  
  pre.graphql             {
	  border: 1px solid #dcdcdc;
	   font-size: 11px;
		  background: #f7e6ff ; 
	  padding: 5px;
	  width: 100%;
  }
  
  pre.xml              {
	  font-family: 'Courier New';
	   font-size: 9pt;
		  padding: 2px;
		  background: #F0FFFF ; 
	  width: 100%;
  }
  
  code[class*="language-"],
  pre[class*="language-"] {
	  color: black;
	  background: none;
	  text-shadow: 0 1px white;
	  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	  font-size: 0.95em;
	  text-align: left;
	  word-spacing: normal;
	  word-break: normal;
	  word-wrap: normal;
	  line-height: 1.5;
  
	  -moz-tab-size: 4;
	  -o-tab-size: 4;
	  tab-size: 4;
  
	  -webkit-hyphens: none;
	  -moz-hyphens: none;
	  -ms-hyphens: none;
	  hyphens: none;
	  white-space: break-spaces;
  }